/* FONT PATH
 * -------------------------- */

@font-face {
	font-family: 'themify';
	src:url(../fonts/iconApp/themify.eot?-fvbane);
	src:url(../fonts/iconApp/themify.eot?#iefix-fvbane) format('embedded-opentype'),
		url(../fonts/iconApp/themify.woff?-fvbane) format('woff'),
		url(../fonts/iconApp/themify.ttf?-fvbane) format('truetype'),
		url(../fonts/iconApp/themify.svg?-fvbane#themify) format('svg');
	font-weight: normal;
	font-style: normal;
}
