.tab-control{
  	list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li{
    	a{
    	display: block;
    	height: 100%;
    	}
        display: flex;	
    	align-items: center;
		position: relative;
	    width: rem(32px);
	    height: rem(32px);
	    cursor: pointer;
      img{
      	
			cursor: pointer;
			height: 100%;
        }
    }
}
.tab-block{
	padding-bottom: rem(20px); 
}
.btn-textcenter{
	text-align: center;
    justify-content: center !important;
    img{
    	margin-left: 0 !important;
    }
}
.user-item{
	width: 100%;
	position: relative;
	cursor: pointer;
	margin-bottom: rem(30px);
	img{
		max-width: 100%;
		height: rem(95px);
	}
	&.active{		
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(128, 128, 128, 0.5);
			z-index: 2;
		}
		&:before {
		     content: "\e91c";
		    position: absolute;
			top: rem(5px);
		    right: rem(5px);
		    font-family: "iconapp";
		    color: #4caf50;
		    font-size: 0.5rem;
		    z-index: 3;
		    width: rem(15px);
		    height: rem(15px);
		    line-height: rem(15px);
		    border-radius: 50%;
		    text-align: center;
		    background: #fff;
		}
	}
}
.text-center{
	text-align: center;
}
.checkqr{
	.note_qr{
		text-align: center;
		margin-bottom: rem(50px);
	}
	.qr_code{
		text-align: center;
		margin-bottom: rem(30px);
		margin-top: rem(50px);
		img{
			width: 50%;
		}
	}
}
.employee{
	width: 100%;
	background-color: #ffffff;
	border-radius: rem(30px);
	margin-top: rem(14px);
	.row{
		margin-top: rem(40px);
		.col-5 ,
		.user-item{
			flex-direction: column;
			align-items: center;
			display: flex;
			.avatar-img{
				width: rem(100px);
				height: rem(95px);
			}
			.btn-delete-avt{
				width: rem(75px);
				height: rem(30px);
				border-radius: rem(15px);
				background: #ffffff;
				border: 1px solid #f44336;
				color: #f44336;
				margin-top: rem(9px);
				cursor: pointer;
				text-align: center;
				text-transform: uppercase;
				@include fcs('Lato-Regular', #f44336, 13px);
			}
		}
	}
	.btn-add-user{
		background-image: linear-gradient(to right, #0f63d5, #2074e5);
		@include fcs('Lato-Bold', #ffffff, 16px);
		letter-spacing: 0.16rem;
		justify-content: flex-start;
		text-transform: uppercase;
		margin-top: rem(5px);
		margin-bottom: rem(25px);
		.adduser-img{
			width: rem(18px);
			height: rem(18px);
			margin-left: rem(41px);
			margin-right: rem(15px);
		}

	}
}