.datepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 2rem !important;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    width: 75%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.datepicker th.switch {
    width: 100%;
}	
.datepicker td span{
	width: calc(100%/4.5);
	height: 2rem;
	line-height: 2rem;
}
.datepicker td, .datepicker th{
	height: 2rem;
	line-height: 2rem;
}
.datepicker th.next, .datepicker th.prev {
    font-size:  1rem;
}
.program{
	.introduce{
		&.noarrow{
			.introduce-text{
				margin-left: 0;
			}
			
		}
	}
	.user_qr{
		display: flex;
		justify-content: space-between;
	}
	.check_qrcode{
		margin: 1rem 0; 
		text-align: right;
		color: #fff;
		display: inline-flex;
    	align-items: center;
		.iconqr_avartar{			
		    width: rem(32px);
		    height: rem(32px);
		    background-size: contain;
		    background-position: center;
		    background-repeat: no-repeat;

		    display: inline-flex;
		    padding: 8px;
		    border-radius: 50%;
		    margin-left: rem(5px);
		}
		.iconqr{
			background-color: rgba(0, 0, 0, 0.31);
		    display: inline-flex;
		    padding: 8px;
		    border-radius: 50%;
		    margin-left: rem(5px); 
			i{
				margin-bottom: 0;
				font-size: rem(15px);
    			padding: rem(5px);

			} 
		}
	}
	.form-search-calendar{
		width: 100%;
		height: rem(44px);
		position: relative;
		border-radius: rem(22px);
		overflow: hidden;
		//border: 1px solid #f3f1fb;
		border:0;
		.input-search{
			width: 100%;
			height: 100%;
			padding-left: 1.25rem;
			padding-right: 4.375rem;
			border: none;
			display: block;
			@include fcs('Lato-Medium', #363636, 16px);
		}
		.bnt-search{
			position: absolute;
			background: transparent;
			top: 0;
			right: 0;
			height: 100%;
			width: 4.375rem;
			border: none;
			font-size: 1rem;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			color: #363636;
			img{ 
				width: rem(16px);
				height: rem(16px);
				}
		}
	}
	.content-block{
		width: 100%;
		margin: rem(24px) 0;
		border-radius: rem(8px);
		background-color: #ffffff;
		overflow: hidden;
		box-shadow: 0 0 rem(20px) 0 #efefef;
		.img-block{
			width: 100%;
			height: rem(180px);
			position: relative;
			margin-bottom: rem(12px);

			img{
				width: 100%;
				height: 100%;
			}
			.btn-click{
				position: absolute;
				height: rem(50px);
				width: rem(50px);
				border-radius: 50%;
				//background-color: #0f63d5;
				background: linear-gradient(to left, #0f63d5, #2074e5);
				border: 0;
				color: #ffffff;
				font-size: rem(24px);
				justify-content: center;
				display: flex;
				bottom: rem(-25px);
				right: rem(16px);
				transform: rotate(180deg);
				cursor: pointer;

			}
			.status{
				position: absolute;
				bottom: rem(11px);
				left: rem(18px);
				width: rem(100px);
			    /* height: 1.5625rem; */
			    text-transform: uppercase;
			    font-family: "Lato-Semibold";
			    color: rgba(76, 175, 80, 0.9);
			    font-size: rem(8px);
			    background-color: #ffffff;
			    text-align: center;
			    padding: rem(6px);
			    border-radius: 24px;
			    letter-spacing: 0.011rem;

			}
}
		.title-block{
			@include fcs('Lato-Semibold', #0b2e5d, 18px);
			margin-bottom: rem(18px);
		}
		.row{
			.time-text{
				@include fcs('Lato-Regular', #61656e, 14px);
			}
			.calendar-text{
				@include fcs('Lato-Regular', #61656e, 16px);
			}
			margin-bottom: rem(8px);
		}
}
}