@mixin fcs($font-family,$color,$font-size ) {
	font-family: $font-family;
	color: $color;
	font-size: rem($font-size);
	//display: block;
	
}
.singin{
	.check_qrcode{
		margin: 1rem 0; 
		text-align: right;
		color: #2074e5;
		display: flex;
    	align-items: center;
		justify-content: flex-end;
		.iconqr{
			background-color: #2074e5;
		    display: inline-flex;
		    padding: 8px;
		    border-radius: 50%;
		    margin-left: rem(5px); 
			i{
				color: #fff;
				margin-bottom: 0;
				font-size: rem(15px);
    			padding: rem(5px);

			} 
		}
	}
	.img-logo{
		width: 58.7%;
		//width: rem(222px);
		height: 13%;

		margin: auto;
		margin-top: rem(50px);
		.logo{
			width: 100%;
			height: 100%;
		}
	}
	.sign-text{
		@include fcs('Lato-Regular', #304261, 22px);
		width: 90%;
		margin: auto;
		text-align: center;
		margin-top: rem(15px);
		margin-bottom: rem(84px);
		letter-spacing: 0.13rem;
		line-height: rem(32px);
	}
	.name-text{
		@include fcs('Lato-Regular', #3e5275, 14px);
		margin-bottom: 0;
	}
	.name-input{
		@include fcs('Lato-Bold', #0f63d5, 22px);
		width: 100%;
		padding: rem(9px) 0;
		padding-bottom: rem(14px);
		border: 0;
		border-bottom: 1px solid;
		letter-spacing: 0.267rem;
	}
	.marTop{
		margin-top: rem(35px);
	}
	.pass-text{
		@include fcs('Lato-Regular', #3e5275, 17px);
		margin-bottom: 0;
		margin-top: rem(50px);
	}
	.pass-input{
		@include fcs('Lato-Bold', #172b4d, 22px);
		width: 100%;
		padding: rem(9px) 0;
		padding-bottom: rem(14px);
		border: 0;
		border-bottom: 1px solid;
		letter-spacing: 0.267rem;
	}
	.btn-singin{
		background-image: linear-gradient(to right, #0f63d5, #2074e5);
		color: #ffffff;
		text-transform: uppercase;
		font-family: 'Lato-Bold';
		font-size: rem(14px);
		margin-top: rem(66px);
	}
	.bot-block{
		margin: auto;
		margin-top: rem(105px);
		text-align: center;
		margin-bottom: rem(26px);

		.bot-text{
			@include fcs('Lato-Regular', #2f435e, 14px);
		}
		.bot-number{
			@include fcs('Lato-Bold', #f37022, 14px);
			letter-spacing: 0.17rem;
		}
	}
}