
/* body*/
.bd-sam{
	position: relative;
	.bg-blue-sampling{
	    position: absolute;
	    clip-path: polygon(0 0, 100% 0, 100% 38%, 0 45%);
	    background-image: linear-gradient(to left, #0f63d5, #2074e5);
	    width: 100%;
	    height: 100%;
	    z-index: -1;
		&.bg-blue-program{
			clip-path: polygon(0 0, 100% 0, 100% 45%, 0 60%);
		}
	}
	.introduce{
		color: #ffffff;
		width: 100%;
		height: rem(32px);
		i{
			font-size: rem(22px);
		}
		.introduce-text{
				@include fcs('Lato-Regular', #ffffff, 24px);
				margin-left: rem(20px);
				letter-spacing: 0.13rem;
		}

	}
}

.sub-program{
	
	.content-block{
		&.content-block-gray{
			background-color: #f8f8f8;
		}
		width: 100%;
		margin-top: rem(20px);
		margin-bottom: rem(30px);
		border-radius: rem(8px);
		overflow: hidden;
		box-shadow: 0 0 rem(20px) 0 #efefef;
		background-color: #ffffff;
		.chart-title{
			width: 100%;
			height: rem(30px);
			margin-bottom: rem(8px);
			margin-top: rem(-5px);
			display: flex;
			align-items: center;
			.status{
				&.comming{
					color: #ef5c04;
				}
				 width: 70%;
			    /* height: 1.5625rem; */
			    text-transform: uppercase;
			    font-family: 'Lato-Medium';
			    color: #4caf50;
			    font-size: rem(12px);
			    background-color: #ffffff;
			  	line-height: rem(20px);
			   	background-color: transparent;
			    //border-radius: 24px;
			    letter-spacing: 0.013rem;

			}
			.chart-block{
				width: 38%;
			    border: 1px solid  #0f63d5;
			   height: 100%;

			    justify-content: center;
			    border-radius: rem(20px);
			        align-items: center;
			        margin-top: rem(8px);
				.icon-chart{
					
						font-size: rem(15px);
					img{
							width: rem(15px);
					}
					
				}
				.chart-text{
					    margin-left: rem(10px);
					    @include fcs('Lato-Regular', #0f63d5, 13px);
				}
			}
		}
		.title-block{
			@include fcs('Lato-Semibold', #0b2e5d, 18px);
			margin-bottom: rem(8px);
		}
		.map-block{
			display: flex;
			width: 100%;
			height: rem(40px);
			margin-bottom: rem(20px);
			position: relative;
			.map-text{
				max-width: 84%;
				@include fcs('Lato-Regular', #61656e, 13px);
			}
			.map-icon{
				border: 1px solid #919191;
			    border-radius: rem(4px);
			    height: rem(40px);
			    width: rem(40px);
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    position: absolute;
			    top: 0;
			    right: rem(-7px);
			    img{
			    	width: rem(23px);
			    }
			}

		}
		.row{
			.time-text{
				@include fcs('Lato-Regular', #61656e, 13px);
			}
			.calendar-text{
				@include fcs('Lato-Semibold', #0b2e5d, 13px);
			}
			margin-bottom: rem(8px);
		}
		.btn-start{
			@include fcs('Lato-Bold', #ffffff, 14px);
			height: rem(40px);
			text-transform: uppercase;
			margin: rem(21px) auto;
			width: rem(130px);
			    display: block;
			background-image: linear-gradient(to right, #0f63d5, #2074e5);
			cursor: pointer;
			&.notactive{
				background: linear-gradient(to left, #9da0a6, #b3b6bd);
				box-shadow: 0 0 rem(20px) 0 #5c9da0a6;
			}

		}

		.row-avatar{
			  	margin-top: rem(35px);
			  	margin-bottom: rem(32px);
			    display: flex;
			    flex-wrap: wrap;
			.col-avatar{
			    flex: 0 0 calc(50%);
			    max-width: calc(50%);
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-direction: column;
				.avatar-input{
					position: relative;
				    width: rem(32px);
				    height: rem(32px);
				    cursor: pointer;
					.input-img{
						position: absolute;
					    width: 100%;
					    height: 100%;
					    opacity: 0;

					}
					img{
						cursor: pointer;
						width: 100%;
					}
				}
				.avatar-text{
					@include fcs('Lato-Regular', #61656e, 14px);
					margin-top: rem(10px);
					//margin-bottom: 5px;
				}
				.text-number{
					@include fcs('Lato-Semibold',#0b2e5d, 18px);
					letter-spacing: 0.012rem;
					&#text-number-blue{
						color: #2074e5;
					}
				}
			}
		}
		.infor-row{
			display: flex;
			width: 100%;
			height: rem(60px);
			justify-content: center;
    		align-items: center;
    		position: relative;
			
			.icon-infor{
				flex-grow:2;

				text-align: center;
				img{
					width: rem(24px);
				}
			}
			.text-infor{
				width: 80%;
				@include fcs('Lato-Regular', #0b2e5d, 14px);
				letter-spacing: 0.015rem;
				text-transform: uppercase;
			}
			&:after{
				    content: '\e90c';
				    font-family: 'iconapp';
				    position: absolute;
				    top: rem(20px);
				    right: rem(26px);
				    font-size: rem(16px);
				    font-weight: 200;
			}
		}
		hr{
			margin: 0;
			padding: 0;
			position: relative;
			color: #e0e0e0;
		}
	}
}