
.sub-program-report{
	// .introduce{
	// 	color: black;
	// 	width: 100%;
	// 	height: rem(32px);
	// 	i{
	// 		font-size: rem(22px);
	// 	}
	// 	.introduce-text{
	// 		@include fcs('Lato-Regular',black, 24px);
	// 		margin-left: rem(20px);
	// 		letter-spacing: 0.13rem;
	// 	}

	// }
	.content-block{
		&.content-block-gray{
			background-color: #f8f8f8;
		}
		width: 100%;
		background-color: #ffffff;
		margin-top: rem(20px);
		margin-bottom: rem(30px);
		border-radius: rem(8px);
		overflow: hidden;
		box-shadow: 0 0 rem(20px) 0 #efefef;
		.title-introduce{
			@include fcs('Lato-Semibold', #0b2e5d, 18px);
			display: block;
			text-align: center;
		}
		.status-img{

			text-align: center;
			margin: auto;
			margin-top: rem(25px);
			img{
				height: rem(65px);
				width: rem(65px);
			}
		}
		.result-text{
			@include fcs('Lato-Semibold', #0b2e5d, 18px);
			text-align: center;
			margin-top: rem(14px);
		}
		.mid-block{
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			margin-top: rem(30px);
		}
		.avatar-status{
			flex-grow: 2;
			text-align: center;
			.avatar-status-img{
				width: rem(36px);
				height: rem(36px);
			}
		}
		.status-infor{
			width: 78%;
			.infor-text{
				@include fcs('Lato-Regular', #61656e, 14px);
			}
			.infor-number{
				@include fcs('Lato-Semibold', #0b2e5d, 22px);
				letter-spacing: 0.16rem;
			}
		}
		.identifier{
			border-right: 70px solid #ffde00;
		    border-top: 70px solid blue;
		    border-left: 70px solid transparent;
		    border-bottom: 70px solid red;
		    width: 146px;
		    height: 146px;
		    border-radius: 50%;
		    transform: rotate(45deg);
		    position: relative;
		    margin: auto;
		    margin-bottom: 28px;
		    margin-top: 18px;
		   
   		 }
   		 .row{

			.center{
				text-align: center; 
			}
			margin-bottom: rem(22px);
   		 	.bar-status{
   		 		width: rem(14px);
   		 		height: rem(14px);
   		 		border-radius: 50%;
   		 		display: inline-block;
    			margin-right: rem(10px);
   		 		&#blue{
					background-color: #2074e5;
   		 		}
				&#yellow{
					background-color: #ffd54f;
				}
   		 	}
   		 	.indentified-type{
   		 		@include fcs('Lato-Regular', #61656e, 13px);
   		 	}
   		 }
		

	}
}