
.scroll-page{
    height: 75vh;
    padding-bottom: rem(30px) !important;
    overflow: auto;
}
.error{
	color: red;
}
.heade-page{
   display: flex;
    justify-content: space-between;
    align-items: center;
  &.hasSearch{
    .form-search{
      background-color: #ffffff;
      border-radius: rem(50px);
      overflow: hidden;
      position: relative;
      margin-right: rem(20px); 
      height: rem(35px);
      width: 70%;
      .input-search{
        width: 100%;
        height: 100%;
        padding-right: rem(40px);
        padding-left: rem(20px);
        border: 0;
        font-size: rem(15px);
      }
      .btn-search{
        width: rem(40px);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: transparent;
        border: 0;
        font-size: rem(15px);
        color: #9b9b9b;
      }
    }
  }
  .back-page{
  	color: #9b9b9b;
  	padding: rem(20px);
  	display: inline-block;
  	i:before{
  		font-size: rem(20px);
  	}
  }
  .name-page{
      font-size: rem(20px);
      color:#4a4a4a;
      text-transform: uppercase;
  }
  .nav-page{
    color: #9b9b9b;
    padding: rem(20px);
    display: inline-block;
    i:before{
      font-size: rem(20px);
    }
  }
}
.pad-inner{
	padding: 0 rem(20px);
	padding-top: rem(20px);
}
.title-page{
	font-size: rem(28px);
	margin-bottom: rem(25px);
	color:#4a4a4a;
	line-height: 1.2;

}

.hide {
	display:none!important;	
}

html, body {
	height: 100%;
}

.overlay {
	display: none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(34,34,34, 0.8);
	z-index: 9999;
	
	&.show {
		display: block;
	}
	
	.inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* Second Loadin Circle */

.circleOuter {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}
.circleInner {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-40px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

/****loading***/
  .loading {
    background: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    &:before{
        content: '';
        border: rem(16px) solid #f3f3f3;
        border-radius: 50%;
        border-top: rem(16px) solid #3498db;
        width: rem(120px);
        height: rem(120px);
        position: absolute;
        z-index: 999999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transform: translate(-50%, -50%);
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*modal Popup*/
.modal-container{
  &.btnFixed{
    .popup-inner {
      width: 80%;
    }
    .footer-popup{
      padding: 0 !important;
      border-top: 1px solid #E6EAF0;
      .btn  + .btn{
        border-radius: 0 !important;
        border-left: 1px solid #E6EAF0;
      }
    }
  }
  .popup-inner .title-popup{
      padding: rem(15px) rem(20px);
      padding-bottom: rem(20px);
      border-bottom: 1px solid #E6EAF0;
  }
  .popup-inner .footer-popup{
    padding: 0 rem(20px) rem(20px);
    .btn{
      border-radius: rem(4px) !important;
      height: rem(48px) !important;
    }
  }
}
.modal-bottom{
  &.modal-event{
    .popup-inner {
      background-color: transparent;
      box-shadow: none;
    }
    .text-blue{
      color: #0AB4F6;
    }
    .group-btn{
      border-radius: rem(4px);
      background: #fff;
      margin-bottom: rem(20px);
      overflow: hidden;
      .btn{
        border-radius: 0;
        justify-content: flex-start;
        padding: 0 rem(20px);
      }
      .text-red{
        color: #B9314F;
      }

      .btn  + .btn{
        margin-top: 0;
        border-top: 1px solid #E6EAF0;
      }
    }
  }
  .popup-overlay {
      position: fixed;
      z-index: 10000;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      opacity: .64;
      background: rgb(45, 45, 50);
      filter: alpha(opacity=80);
  }
  &.hide{
      display: none;
  }
  .popup-container {
      position: absolute;
      z-index: 10000;
      bottom: 0;
      left: 0;
      width: 100%;
  }
  .btn-cancel{
    padding: rem(15px) rem(15px);
    left: 0;
    color: #8496B5;
    top: 0;
    font-size: rem(15px);
    position: absolute;
  }
  .popup-inner {
      position: relative;
      overflow: hidden;
      z-index: 10000;
      height: auto;
      border-radius: rem(8px);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      text-align: left;
      vertical-align: middle;
      background-color: #FAFBFC;
      box-shadow: 0 0 8px rgba(0, 0, 0, .6);
      color: #000000;
      font-size: rem(16px);
      .pad-wapper{
          padding: 0 rem(15px) rem(15px);
      }
     
      .title-popup{
          font-size: rem(20px);
          font-family: 'Nunito-SemiBold';
          text-align: center;
          color: #42526E;
          padding: rem(15px);
          margin: 0;
          border-bottom: 1px solid #F3F1FB; 
      }
      
  }
}
.modal-warper{
  .popup-overlay {
      position: fixed;
      z-index: 10000;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      opacity: .64;
      background: rgb(45, 45, 50);
      filter: alpha(opacity=80);
  }
  .modal-warper.hide{
      display: none;
  }
  .popup-container {
      position: fixed;
      z-index: 10000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
  }

  .popup-inner {
      position: relative;
      overflow: hidden;
      z-index: 10000;
      top: 50%;
      width: 80%;
      max-width: rem(500px);
      height: auto;
      border-radius: rem(10px);
      margin: 0 auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: left;
      vertical-align: middle;
      // background: #f7f7f8;
      background-color: #ffffff;
      box-shadow: 0 0 8px rgba(0, 0, 0, .6);
      color: #000000;
      font-size: rem(16px);
      .pad-wapper{
          padding:  rem(15px) rem(30px);
      }
      .footer-popup{
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border-top: 1px solid #c1c1c1; 
          margin-top: rem(20px); 
          .btn-popup{
             border-right: 1px solid #c1c1c1; 
             height: rem(50px);
             color: #2d2d2d;
             font-size: rem(16px);
              text-transform: uppercase;
              width: 50%;
              justify-content: center;
              align-items: center;
              display: flex;
              border-radius: 0;
              // &.btn-blue{
              //     color: $link-color;
              // }
              &:last-child{
                  border-right: 0;
                      margin-top: 0;
              }
              &:hover{
                  color: #b1b1b1;
              }

          }
      }
      .title-popup{
          padding-bottom: rem(8px);
          font-size: rem(20px);
          font-family: 'Nunito-SemiBold';
          color: #42526E;     

      }
      
  }
}
// check box

.checkboxWaper{
  /* Base for label styling */
  input[type="checkbox"]:not(:checked),
  input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  input[type="checkbox"]:not(:checked) + label,
  input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  /* checkbox aspect */
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    &:focus{

    }
  }
  /* checked mark aspect */
  input[type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    content: "\e91c";
    position: absolute;
    top: .45em; left: .3em;
    font-size: 0.8em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    font-family: 'iconapp', Arial;
  }
  &.checkBlue{
     text-align: left;
     display: flex;
    /* checked mark aspect */
    input[type="checkbox"]:not(:checked) + label:after,
    input[type="checkbox"]:checked + label:after {
      color: #ffffff;
    }
    input[type="checkbox"]:not(:checked) + label:before,
    input[type="checkbox"]:checked + label:before {
      background-image:linear-gradient(57deg, #80cbc4 0%, #4a90e2 100%);
      border: 0;
    }
    label{
      font-size: rem(14px);
      color:#555a62;
    }
  }
  /* checked mark aspect changes */
  input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  input[type="checkbox"]:disabled:not(:checked) + label:before,
  input[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  input[type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  input[type="checkbox"]:disabled + label {
    color: #aaa;
  }
 

 

}



.switch {
  position: relative;
  display: inline-block;
  width: rem(60px);
  height: rem(30px);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E6EAF0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: rem(20px);
  width: rem(20px);
  left: rem(8px);
  bottom: rem(5px);
 background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image:linear-gradient(-133deg, #52CAF8 0%, #0EB5F6 100%);
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(rem(26px));
  -ms-transform: translateX(rem(26px));
  transform: translateX(rem(26px));
  background-color: #ffffff;
  background-image: none;
}

/* Rounded sliders */
.slider.round {
  border-radius: rem(34px);
}

.slider.round:before {
  border-radius: 50%;
}


.progress-bar-lg{
  position: relative;
  margin-top: rem(20px);
  border-radius: rem(20px);

  &:before{
    content: '';
    height: rem(30px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    position: absolute;
    border-radius: rem(20px); 
  }
  .progress{
    height: rem(30px);
    border-bottom-left-radius: rem(20px); 
    border-top-left-radius: rem(20px);
    background-color: #0f63d5; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left, #0f63d5, #2074e5);
    background-image: -o-linear-gradient(left, #0f63d5, #2074e5);
    background-image: linear-gradient(to right, #0f63d5, #2074e5); /* Standard syntax (must be last) */
  }
  .progress-text{
    color: #000000;
    font-size: rem(15px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
      justify-content: center;
      align-items: center;
  }
}