.btn {
	  border-radius: rem(4px);
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  font-family: 'Nunito-SemiBold';
	  padding: 0 rem(10px);
	  cursor: pointer;
	  height: rem(56px);
	  font-size: rem(16px);
      border: 0;
	  i{
	    padding-right: rem(10px);
	  }
	
	&.btn-default{
	  border: 0;
	  height: rem(40px);
	  background-color: #F4F5F7;
	  color: #2C3749;
	  font-size: rem(16px);
	  padding: 0 rem(15px);
	}
	
	&.btn-border{
	    font-size: rem(13px);
	    border: rem(2px )solid #ffffff;
	    border-radius: rem(4px);
	    letter-spacing: 0;
	    color: #ffffff;

	}
	&:focus {
	    outline: 0;
	}
	+ .btn{
		margin-top: rem(20px);
	}
	&.btn-sm {
		height: rem(32px);
		font-size: rem(16px);
	}
	&.btn-md {
		height: rem(48px);
		font-size: rem(20px);
	}
	&.btn-lg {
		height: rem(56px);
		font-size: rem(20px);
	}
	&.btn-full {
	    width: 100%;
	    padding: 0;
	}
	&.btn-block {
	    width: 100%;
	    padding: 0;
	    display: block;
	}
	&.btn-blue{
		background: #0AB4F6;
		color: #ffffff !important;
	}
	&.btn-disable{
		background: #b9b9b9 !important;
		color: #ffffff !important;
		cursor: not-allowed;
	}
	&.btn-gradient-a{
	    background-color: #54CAF9; /* For browsers that do not support gradients */
	    background-image: -webkit-linear-gradient(left, #54CAF9, #0BB4F6);
	    background-image: -o-linear-gradient(left, #54CAF9, #0BB4F6);
	    background-image: linear-gradient(to right, #54CAF9, #0BB4F6); /* Standard syntax (must be last) */
	    color: #ffffff;
	    &:hover{
	      color: #ffffff;
	    }
	}
	&.btn-gradient{
	    background-color: $btn-bgr-gradient1; /* For browsers that do not support gradients */
	    background-image: -webkit-linear-gradient(left, $btn-bgr-gradient1, $btn-bgr-gradient2);
	    background-image: -o-linear-gradient(left, $btn-bgr-gradient1, $btn-bgr-gradient2);
	    background-image: linear-gradient(to right, $btn-bgr-gradient1, $btn-bgr-gradient2); /* Standard syntax (must be last) */
	    color: $btn-text;
	    &:hover{
	      color: $btn-text;
	    }
	}
	&.btn-gradient-blur{
	    background-color: $btn-bgr-gradient3; /* For browsers that do not support gradients */
	    background-image: -webkit-linear-gradient(left, $btn-bgr-gradient3, $btn-bgr-gradient4);
	    background-image: -o-linear-gradient(left, $btn-bgr-gradient3, $btn-bgr-gradient4);
	    background-image: linear-gradient(to right, $btn-bgr-gradient3, $btn-bgr-gradient4); /* Standard syntax (must be last) */
	    color: $btn-text;
	    &:hover{
	      color: $btn-text;
	    }
	}
	&.btn-hasicon{
		background-color: #385899;
		color: #ffffff;
		position: relative;
		i{
			position: absolute;
			left: rem(18px);
			top: 0;
		    height: 100%;
		    display: flex;
		    align-items: center;
		}
	}
}
