form.form{
	.form-field{
		margin-bottom: rem(15px);
		.form-label{
			font-family: 'Nunito-SemiBold';
			font-size: rem(16px);
			color: #42526E;
			display: block;
			margin-bottom: rem(8px);
		}
		.form-control{
			.form-input{
				height: rem(48px);
				border: rem(1px) solid #E6EAF0;
				border-radius: rem(4px);
				width: 100%;
				font-size: rem(16px);
				padding: 0 rem(15px);
			}
		}
	}
	.form-active{
		margin-top: rem(40px);
	}
}