@function vh($pxsize) {
	 $pxsize : ($pxsize / ($pxsize * 0 + 1)); 
    @return ($pxsize / 6)+vh;
}
@function vw($pxsize) {
	 $pxsize : ($pxsize / ($pxsize * 0 + 1)); 
    @return ($pxsize / 6)+vw;
}

// Function for converting a px based font-size to rem.
@function rem($size) {
  $remSize: $size / 16px;
//Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}


html{
	font-size: 100%;
	@media screen and (max-width: 400px) {font-size: rem(16px)!important;}
}
