.row{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: rem(-10px);
    margin-left: rem(-10px);
    .col-6{
    	-webkit-box-flex: 0;
        -ms-flex: 0 0 calc(60%);
        flex: 0 0 calc(60%);
        max-width: calc(60%);
        padding-right: rem(10px);
        padding-left: rem(10px);
    }
    .col-4{
    	-webkit-box-flex: 0;
        -ms-flex: 0 0 calc(40%);
        flex: 0 0 calc(40%);
        max-width: calc(40%);
        padding-right: rem(10px);
        padding-left: rem(10px);
    }
    .col-5{
    	-webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50%);
        flex: 0 0 calc(50%);
        max-width: calc(50%);
        padding-right: rem(10px);
        padding-left: rem(10px);
    }
    .col-3{
       -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.33%);
        flex: 0 0 calc(33.33%);
        max-width: calc(33.33%);
        padding-right: rem(10px);
        padding-left: rem(10px); 
    }
    .col-2{
    	-webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100%/5);
        flex: 0 0 calc(100%/5);
        max-width: calc(100%/5);
        padding-right: rem(10px);
        padding-left: rem(10px);
    }
}