$icomoon-font-family: "iconapp" !default;
$icomoon-font-path: "../fonts/iconApp" !default;


$icon-flask: "\e925";
$icon-fire: "\e904";
$icon-garbage: "\e905";
$icon-medal: "\e906";
$icon-mouse: "\e907";
$icon-padlock: "\e908";
$icon-penciledit: "\e909";
$icon-plus: "\e90a";
$icon-qrcode: "\e90b";
$icon-right: "\e90c";
$icon-roundglasses: "\e90d";
$icon-search: "\e90e";
$icon-shoppingbag: "\e90f";
$icon-speedometer: "\e910";
$icon-starfill: "\e911";
$icon-uparrow: "\e912";
$icon-user: "\e913";
$icon-users: "\e914";
$icon-view: "\e915";
$icon-wallet: "\e916";
$icon-worlwide: "\e917";
$icon-back: "\e918";
$icon-backlong: "\e919";
$icon-cancel: "\e91a";
$icon-chat: "\e91b";
$icon-check: "\e91c";
$icon-comment: "\e91d";
$icon-console: "\e91e";
$icon-delete: "\e91f";
$icon-dollar: "\e920";
$icon-door: "\e921";
$icon-downarrow: "\e922";
$icon-envelope: "\e923";
$icon-exit: "\e924";
$icon-gift: "\e900";
$icon-layers: "\e901";
$icon-money: "\e902";
$icon-star: "\e903";



@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kp30kg');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kp30kg#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?kp30kg') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?kp30kg') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?kp30kg##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-flask {
  &:before {
    content: $icon-flask; 
  }
}

.ic-fire {
  &:before {
    content: $icon-fire; 
  }
}
.ic-garbage {
  &:before {
    content: $icon-garbage; 
  }
}
.ic-medal {
  &:before {
    content: $icon-medal; 
  }
}
.ic-mouse {
  &:before {
    content: $icon-mouse; 
  }
}
.ic-padlock {
  &:before {
    content: $icon-padlock; 
  }
}
.ic-penciledit {
  &:before {
    content: $icon-penciledit; 
  }
}
.ic-plus {
  &:before {
    content: $icon-plus; 
  }
}
.ic-qrcode {
  &:before {
    content: $icon-qrcode; 
  }
}
.ic-right {
  &:before {
    content: $icon-right; 
  }
}
.ic-roundglasses {
  &:before {
    content: $icon-roundglasses; 
  }
}
.ic-search {
  &:before {
    content: $icon-search; 
  }
}
.ic-shoppingbag {
  &:before {
    content: $icon-shoppingbag; 
  }
}
.ic-speedometer {
  &:before {
    content: $icon-speedometer; 
  }
}
.ic-starfill {
  &:before {
    content: $icon-starfill; 
  }
}
.ic-uparrow {
  &:before {
    content: $icon-uparrow; 
  }
}
.ic-user {
  &:before {
    content: $icon-user; 
  }
}
.ic-users {
  &:before {
    content: $icon-users; 
  }
}
.ic-view {
  &:before {
    content: $icon-view; 
  }
}
.ic-wallet {
  &:before {
    content: $icon-wallet; 
  }
}
.ic-worlwide {
  &:before {
    content: $icon-worlwide; 
  }
}
.ic-back {
  &:before {
    content: $icon-back; 
  }
}
.ic-backlong {
  &:before {
    content: $icon-backlong; 
  }
}
.ic-cancel {
  &:before {
    content: $icon-cancel; 
  }
}
.ic-chat {
  &:before {
    content: $icon-chat; 
  }
}
.ic-check {
  &:before {
    content: $icon-check; 
  }
}
.ic-comment {
  &:before {
    content: $icon-comment; 
  }
}
.ic-console {
  &:before {
    content: $icon-console; 
  }
}
.ic-delete {
  &:before {
    content: $icon-delete; 
  }
}
.ic-dollar {
  &:before {
    content: $icon-dollar; 
  }
}
.ic-door {
  &:before {
    content: $icon-door; 
  }
}
.ic-downarrow {
  &:before {
    content: $icon-downarrow; 
  }
}
.ic-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.ic-exit {
  &:before {
    content: $icon-exit; 
  }
}
.ic-gift {
  &:before {
    content: $icon-gift; 
  }
}
.ic-layers {
  &:before {
    content: $icon-layers; 
  }
}
.ic-money {
  &:before {
    content: $icon-money; 
  }
}
.ic-star {
  &:before {
    content: $icon-star; 
  }
}
