*,
*::before,
*::after {
  box-sizing: border-box; // 1
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}
a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
}
input,
select{
  &:focus{
        outline: none;
      }
}
// scroll bar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  opacity: 0;
  &:hover {
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
}
html {
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
}
body {
  margin: 0; // 1
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
}
// import font
/*** Lato-Regular ***/
@font-face {
  font-family: 'Lato-Regular';  
  src: url('../fonts/Lato/lato-regular.woff2') format('woff2'),  
  url('../fonts/Lato/lato-regular.woff') format('woff'), 
  url('../fonts/Lato/lato-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*** Lato-Medium ***/
@font-face {
  font-family: 'Lato-Medium'; 
  src: url('../fonts/Lato/lato-medium.woff2') format('woff2'), 
  url('../fonts/Lato/lato-medium.woff') format('woff'), 
  url('../fonts/Lato/lato-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
/*** Lato-Bold ***/
@font-face {
  font-family: 'Lato-Bold'; 
  src: url('../fonts/Lato/lato-bold.woff2') format('woff2'), 
  url('../fonts/Lato/lato-bold.woff') format('woff'), 
  url('../fonts/Lato/lato-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*** Lato-Semibold ***/
@font-face {
  font-family: 'Lato-Semibold'; 
  src:  
  url('../fonts/Lato/Lato-Semibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*** Lato-Thin ***/
@font-face {
  font-family: 'Lato-Semibold'; 
  src:  
  url('../fonts/Lato/Lato-Thin.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*** Lato-Black ***/
@font-face {
  font-family: 'Lato-Semibold'; 
  src:  
  url('../fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*** Nunito ***/
@font-face {
  font-family: 'Nunito-SemiBold'; 
  src:  
  url('../fonts/Nunito/Nunito-Semibold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Nunito-Regular'; 
  src:  
  url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Nunito-Bold'; 
  src:  
  url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-style: normal;
}


// Flex
.justify-content-center{
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;

    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;

    align-items: center;
}

.justify-content-between {
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;

    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;

    align-items: center;
}

.text-right{
  text-align: right;
}
// modal
.modal{
  position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 5;
    transition: 0.3s;
      top: 0;
    &.hide {
    top: 100%;
        transition: 0.3s;
    }
    .btn-warp{
      padding: rem(28px);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  .header-modal{
      display: flex;
      display: -webkit-flex; /* Safari */
      align-items: center;
      justify-content: space-between;
      background-color: #38b8f8; /* For browsers that do not support gradients */
      background-image: -webkit-linear-gradient(left, #38b8f8, #843cf6);
      background-image: -o-linear-gradient(left, #38b8f8, #843cf6);
      background-image: linear-gradient(to right, #38b8f8, #843cf6); /* Standard syntax (must be last) */
      color: #fff;
      padding: rem(20px) 0;
      .title-modal{
      font-family: 'Lato-Medium';
        font-size: rem(18px);
        font-weight: 400;
        margin-bottom: 0;
        padding-left: rem(28px);
      }
      .close{
        width: rem(60px);
        font-size: rem(14px);
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      cursor: pointer;
      }
  }
  .content-modal{
    overflow: auto;
    .list-item{
      margin: 0;
      padding: rem(28px);
      padding-top: rem(10px); 
      li{
        list-style: none;
        font-size: rem(16px);
        color: #4f4f4f;
        padding: rem(12px) 0;
        padding-right: rem(40px); 
        border-bottom: 1px solid #dadada; 
        cursor: pointer;
        &.active{
          position: relative;
          color: #4a90e2;
          &:after{
            content: '\e90e';
            font-family: 'iconapp';
            color: #4caf50;
            position: absolute;
            top: 0;
              right: 0;
              height: 100%;
              font-size: rem(25px);
              display: flex;
              align-items: center;
          }
        }
      }
    }
  }
}

// PAGE MAIN
.container-warp{
  max-width: 800px;
  margin: auto;
}
.header-page{
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    justify-content: space-between;
    background-color: #38b8f8; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left, #38b8f8, #843cf6);
    background-image: -o-linear-gradient(left, #38b8f8, #843cf6);
    background-image: linear-gradient(to right, #38b8f8, #843cf6); /* Standard syntax (must be last) */
    color: #fff;
    padding: rem(20px) 0;
    .title-page{
      font-family: 'Lato-Medium';
      font-size: rem(18px);
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      height: 100%;
      .back{
        width: rem(48px);
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      cursor: pointer;
      }
    }
    .close,
    .share{
      width: rem(48px);
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: rem(17px);
    }
}
.hide{
  display: none;
}


