$headings-margin-bottom: .5rem;
$paragraph-margin-bottom: .5rem;

$font-family-base: 'Nunito-Regular';
$font-size-base: 100%;
$font-weight-base: 400;
$line-height-base: 1.3;
$body-color: #42526E;
$body-bg: #ffffff;

$link-color: #0675D6;
$link-hover-color: #0675D6;

$btn-bgr-gradient1: #4a90e2;
$btn-bgr-gradient2: #80cbc4;
$btn-bgr-gradient3: #b7e7ba;
$btn-bgr-gradient4: #80cbc4;
$btn-text: #ffffff;